{:event/id "ddeabf4d-fb40-42a3-bb17-d3f9bab7f510" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:4da05854-5161-4351-a1d3-daf00fb4c3f1" :event/seq 1 :event/causes ["4da05854-5161-4351-a1d3-daf00fb4c3f1" "b20b2118-eae8-4a7d-8a8e-f3976b03fd74"] :event/actor "agent:chatgpt" :event/subject "archaeology:4da05854-5161-4351-a1d3-daf00fb4c3f1" :event/at "2026-09-18T13:50:20Z" :event/data {:relation/id :relation/4da05854-continues-knoxx-inventory :relation/kind :run/consumes :relation/from-kind :run :relation/from-id "4da05854-5161-4351-a1d3-daf00fb4c3f1" :relation/to-kind :run :relation/to-id "2302720f-6aae-405f-b0c9-520bcf34ae41" :relation/action-id :seed/continue-knoxx-shape-inventory :relation/status :continues}}
{:event/id "92ebef79-d4c1-4a3f-819b-41320116614e" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:4da05854-5161-4351-a1d3-daf00fb4c3f1" :event/seq 2 :event/causes ["4ab5ffb6-b88f-44f2-a602-2392fe761208" "3ab9c465-f34e-4bf3-8aa5-aead4e345dec" "ddeabf4d-fb40-42a3-bb17-d3f9bab7f510"] :event/actor "agent:chatgpt" :event/subject "archaeology:4da05854-5161-4351-a1d3-daf00fb4c3f1" :event/at "2026-09-18T13:50:20Z" :event/data {:relation/id :relation/4da05854-f1-a :relation/kind :finding/evidence :relation/from-kind :finding :relation/from-id :knoxx/policy-config-initialization-is-first-writer-wins-cell :relation/to-kind :evidence :relation/to-id :evidence.knoxx/mongo-policy-store}}
{:event/id "b5d1f796-3592-4c81-a06e-201e0979433e" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:4da05854-5161-4351-a1d3-daf00fb4c3f1" :event/seq 3 :event/causes ["4ab5ffb6-b88f-44f2-a602-2392fe761208" "cc6d3a2a-850b-4046-b556-4fbc0aa86ef0" "92ebef79-d4c1-4a3f-819b-41320116614e"] :event/actor "agent:chatgpt" :event/subject "archaeology:4da05854-5161-4351-a1d3-daf00fb4c3f1" :event/at "2026-09-18T13:50:20Z" :event/data {:relation/id :relation/4da05854-f1-b :relation/kind :finding/evidence :relation/from-kind :finding :relation/from-id :knoxx/policy-config-initialization-is-first-writer-wins-cell :relation/to-kind :evidence :relation/to-id :evidence.knoxx/mongo-policy-store-test}}
{:event/id "49a28fc6-a0c0-4ba6-882f-eac17517ed67" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:4da05854-5161-4351-a1d3-daf00fb4c3f1" :event/seq 4 :event/causes ["5ff440ac-a9bc-4cbd-a02f-e0e1ab4eff4c" "14e9698a-40be-43c5-a994-19d6174c1ded" "b5d1f796-3592-4c81-a06e-201e0979433e"] :event/actor "agent:chatgpt" :event/subject "archaeology:4da05854-5161-4351-a1d3-daf00fb4c3f1" :event/at "2026-09-18T13:50:20Z" :event/data {:relation/id :relation/4da05854-f2-a :relation/kind :finding/evidence :relation/from-kind :finding :relation/from-id :knoxx/role-replacement-is-single-writer-set-mutation :relation/to-kind :evidence :relation/to-id :evidence.knoxx/mongo-policy-roles}}
{:event/id "5b965183-0ef8-46fe-8109-098e29b215b8" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:4da05854-5161-4351-a1d3-daf00fb4c3f1" :event/seq 5 :event/causes ["5ff440ac-a9bc-4cbd-a02f-e0e1ab4eff4c" "4d8cc044-e3d4-44d1-86ae-33472da622b3" "49a28fc6-a0c0-4ba6-882f-eac17517ed67"] :event/actor "agent:chatgpt" :event/subject "archaeology:4da05854-5161-4351-a1d3-daf00fb4c3f1" :event/at "2026-09-18T13:50:20Z" :event/data {:relation/id :relation/4da05854-f2-b :relation/kind :finding/evidence :relation/from-kind :finding :relation/from-id :knoxx/role-replacement-is-single-writer-set-mutation :relation/to-kind :evidence :relation/to-id :evidence.knoxx/mongo-policy-roles-test}}
{:event/id "bb326381-6418-4c24-990d-a5068c5d39dd" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:4da05854-5161-4351-a1d3-daf00fb4c3f1" :event/seq 6 :event/causes ["60350c6d-6599-4013-8adf-eb275d5f3711" "edbdc930-38f4-48fb-9bcd-690f7e138e5a" "5b965183-0ef8-46fe-8109-098e29b215b8"] :event/actor "agent:chatgpt" :event/subject "archaeology:4da05854-5161-4351-a1d3-daf00fb4c3f1" :event/at "2026-09-18T13:50:20Z" :event/data {:relation/id :relation/4da05854-f3-a :relation/kind :finding/evidence :relation/from-kind :finding :relation/from-id :knoxx/chat-rate-limit-is-expiring-atomic-counter :relation/to-kind :evidence :relation/to-id :evidence.knoxx/mongo-rate-limits}}
{:event/id "d919ea5d-95f2-4e40-b14e-482669d0c00e" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:4da05854-5161-4351-a1d3-daf00fb4c3f1" :event/seq 7 :event/causes ["60350c6d-6599-4013-8adf-eb275d5f3711" "70a1be47-7595-44ef-add7-5e1344c3b399" "bb326381-6418-4c24-990d-a5068c5d39dd"] :event/actor "agent:chatgpt" :event/subject "archaeology:4da05854-5161-4351-a1d3-daf00fb4c3f1" :event/at "2026-09-18T13:50:20Z" :event/data {:relation/id :relation/4da05854-f3-b :relation/kind :finding/evidence :relation/from-kind :finding :relation/from-id :knoxx/chat-rate-limit-is-expiring-atomic-counter :relation/to-kind :evidence :relation/to-id :evidence.knoxx/agent-policy}}
