{:event/id "b439faaa-d8ad-481c-b232-95769bd062fb" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 1 :event/causes ["ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" "b20b2118-eae8-4a7d-8a8e-f3976b03fd74"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-continues-2302720f :relation/kind :run/consumes :relation/from-kind :run :relation/from-id "ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :relation/to-kind :run :relation/to-id "2302720f-6aae-405f-b0c9-520bcf34ae41" :relation/action-id :seed/continue-knoxx-shape-inventory :relation/status :continues}}
{:event/id "aebaeb9d-bff0-4ea9-b406-13e1fbf6834d" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 2 :event/causes ["88378510-5ea7-4e88-8c79-85f25598be83" "b439faaa-d8ad-481c-b232-95769bd062fb"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-continues-2ab86fb4 :relation/kind :run/consumes :relation/from-kind :run :relation/from-id "ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :relation/to-kind :run :relation/to-id "2ab86fb4-5e36-403d-9358-8dafe4eb2b32" :relation/action-id :seed/continue-knoxx-shape-inventory :relation/status :continues}}
{:event/id "748ba843-e669-4d1f-89be-cf96f74a75b7" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 3 :event/causes ["b537f556-b101-4ae9-931e-0ac8ca77cc0a" "aebaeb9d-bff0-4ea9-b406-13e1fbf6834d"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-continues-32e0bd69 :relation/kind :run/consumes :relation/from-kind :run :relation/from-id "ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :relation/to-kind :run :relation/to-id "32e0bd69-cf1a-4e16-94e1-136861ee92d4" :relation/action-id :seed/continue-knoxx-shape-inventory :relation/status :continues}}
{:event/id "c4f12b9f-5109-447a-aa06-ad1d2842e05b" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 4 :event/causes ["6356c8f9-4fea-405a-a865-f51cccafc527" "748ba843-e669-4d1f-89be-cf96f74a75b7"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-continues-4571709a :relation/kind :run/consumes :relation/from-kind :run :relation/from-id "ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :relation/to-kind :run :relation/to-id "4571709a-0033-48d1-9011-0c8d16fd59fc" :relation/action-id :seed/continue-knoxx-shape-inventory :relation/status :continues}}
{:event/id "4dc95fe6-4e8d-4a5b-a49e-1cdeb06f080c" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 5 :event/causes ["af9c5b05-fca1-46b3-b980-b8e6024365a1" "c4f12b9f-5109-447a-aa06-ad1d2842e05b"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-continues-52178aa6 :relation/kind :run/consumes :relation/from-kind :run :relation/from-id "ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :relation/to-kind :run :relation/to-id "52178aa6-f10a-4e89-9cde-afb8c02cb3aa" :relation/action-id :seed/continue-knoxx-shape-inventory :relation/status :continues}}
{:event/id "9a5656ba-ac1b-4e26-9dda-afc423b97d8b" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 6 :event/causes ["beab3229-b4b2-47f8-9f5b-ce111ddca541" "4dc95fe6-4e8d-4a5b-a49e-1cdeb06f080c"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-continues-6bf6bb43 :relation/kind :run/consumes :relation/from-kind :run :relation/from-id "ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :relation/to-kind :run :relation/to-id "6bf6bb43-dcc4-40d4-8414-4c89a3402e6f" :relation/action-id :seed/continue-knoxx-shape-inventory :relation/status :continues}}
{:event/id "fcfb72ed-ca84-4ee8-9cfc-7c8352a1c7a9" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 7 :event/causes ["907c08fd-a4ce-4808-9311-34dc447d4978" "9a5656ba-ac1b-4e26-9dda-afc423b97d8b"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-continues-777b4ce0 :relation/kind :run/consumes :relation/from-kind :run :relation/from-id "ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :relation/to-kind :run :relation/to-id "777b4ce0-c8f6-4e70-943f-27935c7ae3ec" :relation/action-id :seed/continue-knoxx-shape-inventory :relation/status :continues}}
{:event/id "13a8c173-cb5b-4489-8555-917989170aed" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 8 :event/causes ["a373cf39-5a01-41a2-9f02-c0bffc4d79fd" "fcfb72ed-ca84-4ee8-9cfc-7c8352a1c7a9"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-continues-8d6481f6 :relation/kind :run/consumes :relation/from-kind :run :relation/from-id "ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :relation/to-kind :run :relation/to-id "8d6481f6-215a-4380-a1e7-18b654ffb56f" :relation/action-id :seed/continue-knoxx-shape-inventory :relation/status :continues}}
{:event/id "351803fc-242f-46ee-bb0d-acd0c5aff63d" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 9 :event/causes ["3d57eeb8-fbfc-4340-9c4c-be04d9da93a0" "13a8c173-cb5b-4489-8555-917989170aed"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-continues-998ad954 :relation/kind :run/consumes :relation/from-kind :run :relation/from-id "ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :relation/to-kind :run :relation/to-id "998ad954-816a-4c76-bbae-d40da4b533d9" :relation/action-id :seed/continue-knoxx-shape-inventory :relation/status :continues}}
{:event/id "50c4e54e-0e67-4acb-8a01-1844386e5d5d" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 10 :event/causes ["2e45443b-670a-4ccf-9fce-ed84f0ef0c2e" "351803fc-242f-46ee-bb0d-acd0c5aff63d"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-continues-a36c7aed :relation/kind :run/consumes :relation/from-kind :run :relation/from-id "ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :relation/to-kind :run :relation/to-id "a36c7aed-cf49-4fbf-a94e-826d672bd45a" :relation/action-id :seed/continue-knoxx-shape-inventory :relation/status :continues}}
{:event/id "c8b01743-926d-461d-905c-92cfc1376693" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 11 :event/causes ["0e511377-619a-4054-9ac2-df08e7ecdfd9" "50c4e54e-0e67-4acb-8a01-1844386e5d5d"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-continues-c718014f :relation/kind :run/consumes :relation/from-kind :run :relation/from-id "ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :relation/to-kind :run :relation/to-id "c718014f-e917-4f56-874a-3cb73ab9ee19" :relation/action-id :seed/continue-knoxx-shape-inventory :relation/status :continues}}
{:event/id "78a4c8ee-58eb-4e45-ade0-f0088c825371" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 12 :event/causes ["fe1909d3-90f4-4154-8a60-16c18b13992a" "c8b01743-926d-461d-905c-92cfc1376693"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-continues-d4d66778 :relation/kind :run/consumes :relation/from-kind :run :relation/from-id "ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :relation/to-kind :run :relation/to-id "d4d66778-2f16-4f1b-8475-f432f412ad2b" :relation/action-id :seed/continue-knoxx-shape-inventory :relation/status :continues}}
{:event/id "c183a1d4-9ad6-47a7-9a4b-640192ccb24c" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 13 :event/causes ["50502284-c7b4-48e7-ae80-329b0853ccd8" "78a4c8ee-58eb-4e45-ade0-f0088c825371"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-continues-f49b2fa0 :relation/kind :run/consumes :relation/from-kind :run :relation/from-id "ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :relation/to-kind :run :relation/to-id "f49b2fa0-2e8f-42c7-9147-9ea36456da8a" :relation/action-id :seed/continue-knoxx-shape-inventory :relation/status :continues}}
{:event/id "690c703a-677d-4051-9936-7644ebef3cb7" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 14 :event/causes ["c35e8d88-41cc-4a72-90dc-ae855f3cc1c6" "c183a1d4-9ad6-47a7-9a4b-640192ccb24c"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-continues-fa5c14d5 :relation/kind :run/consumes :relation/from-kind :run :relation/from-id "ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :relation/to-kind :run :relation/to-id "fa5c14d5-c1dd-4779-a3f2-d0189d168caa" :relation/action-id :seed/continue-knoxx-shape-inventory :relation/status :continues}}
{:event/id "e200d3fd-0773-4583-a8c7-90bd46261b37" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 15 :event/causes ["00fabc23-7e2b-4ec1-aece-8807449f5cef" "76361cb6-11ab-4200-a2c9-4b27dfdbf903" "690c703a-677d-4051-9936-7644ebef3cb7"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-route-backend :relation/kind :finding/evidence :relation/from-kind :finding :relation/from-id :knoxx/realtime-route-binding-refines-session-to-conversation :relation/to-kind :evidence :relation/to-id :evidence.knoxx/realtime-route-occurrence-index}}
{:event/id "5d56bd7e-a1c6-4d87-bc6f-8192365cfa53" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 16 :event/causes ["00fabc23-7e2b-4ec1-aece-8807449f5cef" "f701bd0b-5273-4006-9de5-2201e96a2fa8" "e200d3fd-0773-4583-a8c7-90bd46261b37"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-route-frontend :relation/kind :finding/evidence :relation/from-kind :finding :relation/from-id :knoxx/realtime-route-binding-refines-session-to-conversation :relation/to-kind :evidence :relation/to-id :evidence.knoxx/frontend-reconnectable-conversation-binding}}
{:event/id "1c50f501-2ac7-4715-81b5-3595547bbf19" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 17 :event/causes ["00fabc23-7e2b-4ec1-aece-8807449f5cef" "5adb53e6-8bcc-4c11-bb9a-46a26a9d1151" "5d56bd7e-a1c6-4d87-bc6f-8192365cfa53"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-route-tests :relation/kind :finding/evidence :relation/from-kind :finding :relation/from-id :knoxx/realtime-route-binding-refines-session-to-conversation :relation/to-kind :evidence :relation/to-id :evidence.knoxx/frontend-conversation-binding-tests}}
{:event/id "d05303e2-b7ff-4899-8c9f-b6cf8da610b9" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 18 :event/causes ["bbae8a5b-d129-4393-9480-32e5a679b778" "76361cb6-11ab-4200-a2c9-4b27dfdbf903" "1c50f501-2ac7-4715-81b5-3595547bbf19"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-occurrence-index :relation/kind :finding/evidence :relation/from-kind :finding :relation/from-id :knoxx/realtime-clients-are-occurrence-indexed :relation/to-kind :evidence :relation/to-id :evidence.knoxx/realtime-route-occurrence-index}}
{:event/id "93fbb724-7e09-4426-9a1f-b1f564182723" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 19 :event/causes ["f2fb6101-790a-4b6a-a2de-56255be11b2e" "2e4bc1c1-6090-4e14-9fec-09be2c985b10" "d05303e2-b7ff-4899-8c9f-b6cf8da610b9"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-twitch-cache :relation/kind :finding/evidence :relation/from-kind :finding :relation/from-id :knoxx/twitch-connections-are-owner-keyed-handle-cache :relation/to-kind :evidence :relation/to-id :evidence.knoxx/twitch-owner-handle-cache}}
{:event/id "0b79a3f5-eaee-4504-948e-7c08ae37b4b7" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/seq 20 :event/causes ["f2fb6101-790a-4b6a-a2de-56255be11b2e" "76361cb6-11ab-4200-a2c9-4b27dfdbf903" "93fbb724-7e09-4426-9a1f-b1f564182723"] :event/actor "agent:chatgpt" :event/subject "archaeology:ad2a7cf9-1bec-4757-9288-c1a5f0582b5e" :event/at "2026-09-13T13:35:47Z" :event/data {:relation/id :relation/ad2a7cf9-connection-contrast :relation/kind :finding/evidence :relation/from-kind :finding :relation/from-id :knoxx/twitch-connections-are-owner-keyed-handle-cache :relation/to-kind :evidence :relation/to-id :evidence.knoxx/realtime-route-occurrence-index}}
