{:event/id "be0f6b9d-b826-4af1-9de7-1a4a141e3eb7" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:8b50b344-0d22-4118-9cf7-0c59d4555f4d" :event/seq 1 :event/causes ["8b50b344-0d22-4118-9cf7-0c59d4555f4d" "c6d6e98c-3067-41df-bc04-8e2f63bc4fa2"] :event/actor "agent:chatgpt" :event/subject "archaeology:8b50b344-0d22-4118-9cf7-0c59d4555f4d" :event/at "2026-09-25T13:15:01Z" :event/data {:relation/id :relation/8b50b344-continues-bb1b-observer-inventory :relation/kind :run/consumes :relation/from-kind :run :relation/from-id "8b50b344-0d22-4118-9cf7-0c59d4555f4d" :relation/to-kind :run :relation/to-id "bb1b1e37-26d9-4061-a971-a1b610485dfd" :relation/action-id :seed/continue-knoxx-shape-inventory :relation/status :continues}}
{:event/id "d5c03a60-a409-4aee-a295-daeb8c051167" :event/schema {:schema/root "8eb19ab0e4b70e205a84a627fd3e15c3ba79c0fd8c792d37e72f3c79511e0bf9" :schema/id :archaeology/relation-recorded :schema/hash "5593b89abf33844c7ff742d3baa1c64d619957f05735ad1985a987ba07b65cf8"} :event/type :archaeology/relation-recorded :event/stream "archaeology:relations:8b50b344-0d22-4118-9cf7-0c59d4555f4d" :event/seq 2 :event/causes ["49601bbc-7a40-496b-aea2-1fe7add0a60b" "205266b8-7683-4a02-9fe4-07e02403be0f" "be0f6b9d-b826-4af1-9de7-1a4a141e3eb7"] :event/actor "agent:chatgpt" :event/subject "archaeology:8b50b344-0d22-4118-9cf7-0c59d4555f4d" :event/at "2026-09-25T13:15:01Z" :event/data {:relation/id :relation/8b50b344-recent-suffix-run-state :relation/kind :finding/evidence :relation/from-kind :finding :relation/from-id :knoxx/run-observability-fields-recur-recent-suffix-law :relation/to-kind :evidence :relation/to-id :evidence.knoxx/run-state}}
